if element.contentType == 'text'
  .card
    p= element.content
    .background
if element.contentType == 'image'
  .card
    img(src= element.content)
    .background
  .card
    p=element.caption
    .background
if element.contentType == 'video'
  .card
    iframe(src='//player.vimeo.com/video/'+element.content+'?badge=0', width = '350', height='200', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')
    .background
  .card
    p=element.caption
    .background