script(src="/js/jquery/jquery.autogrowtextarea.min.js")
script(src="/js/jquery/jquery.transit.min.js")
script(src="/js/socketEmitters.js")
script(src="/js/draggable.js")
script(src="/js/jquery-mousewheel.min.js")
script(src="/js/zoomable.js")
script(src="/js/droppable.js")
script(src="/js/resizable.js")
script(src="/js/socketListeners/index.js")
script(src="/js/screenDrag.js")
script(src='/js/lib/clusterfck.js')
script(src='/js/cluster.js')