ul.spaces.menu
  li
    a(href='/s/#{current_space.spaceKey}')=current_space.name
  each space in current_user.spaces
    if space.id != current_space.id
      li
        a(href='/s/#{space.spaceKey}')=space.name
  li
    form.add-space(action="/s/new", method="post")
      input(type="text", name="space[name]", placeholder="Create a new space")
      input(type="submit")