extends layout

block content
  - var space = {id: 1, columnSorting: [4,3,1,2], columns: [{id: 4, elementSorting: [2,1], SpaceId: 1, elements: [{id: 2, contentType: 'text', content: 'Aaand here\'s the second. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'}, {id: 2, contentType: 'text', content: 'This is the first element'},  {id: 2, contentType: 'text', content: 'This is the first element. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'},  {id: 2, contentType: 'text', content: 'This is the first element. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'}]}, {id: 1, elementSorting: [3], SpaceId: 1, elements: [{id: 3, contentType: 'text', content: "This is the third. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."}]}, {id: 2, elementSorting: [4], SpaceId: 1, elements: [{id: 3, contentType: 'text', content: "Fourth woo! Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit."}]}]}
  - var users = ["https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c1.95.477.477/p480x480/1920336_10152275444250993_2135489901_n.jpg?oh=bbaa145748095d6331cba2e63d34351e&oe=544B7BC0&__gda__=1412714693_09ab5f6cad5ec3a6e1b1a5cfbdf15e02","https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.0.480.480/p480x480/10176080_2520381682312_4890391499590307710_n.jpg?oh=9b62cd1a1e536d8baeb80f5b63b12aee&oe=544C61A6&__gda__=1414538666_07bda3f9b428206ce7dab047fcd01710"]
  
  header
    ul.users
      each user in users
        li
          img(src= user)

  section.content
    section.column.add
      article.add
        input(class="add", type="text", placeholder="Add something new")
    each column in space.columns
      section.column.normal
        each element in column.elements
          if element.contentType == 'text'
            article(class=element.contentType)
              p= element.content
              div.background
            article.add
              input(class="add", type="text", placeholder="Add something new")