extends layout

block scripts
  include partials/baseScripts

block content
  main
    h1.welcome Welcome to Scrap
    form.add-space
      input(type="text", name="name", placeholder="Add new space!")
      input(type="submit", style="visibility: hidden;")
    h3.register Login
    form.register
      input(type="text", name="username", placeholder="Enter username")
      input(type="text", name="password", placeholder="Enter password")
      input(type="submit", style="visibility: hidden;")
    h3.register Register
    form.register
      input(type="text", name="username", placeholder="Enter new username")
      input(type="text", name="password", placeholder="Enter new password")
      input(type="submit", style="visibility: hidden;")