extends layout

block scripts
  script(src="/js/socketEmitters.js")
  script(src="/js/socketListeners/index.js")

block content
  main
    h1.welcome Welcome to Scrap
    form.add-space
      input(type="text", name="name", placeholder="Add new space!")
        input(type="submit", style="visibility: hidden;")
