extends layout

block scripts
  include partials/indexScripts

block content
  main
    h1.welcome Welcome to Scrap
    form.add-space
      input(type="text", name="name", placeholder="Add new space!")
        input(type="submit", style="visibility: hidden;")
