extends layout

block scripts
  script(src="/js/socketEmitters.js")
  script(src="/js/draggable.js")
  script(src="/js/jquery-mousewheel.min.js")
  script(src="/js/zoomable.js")
  script(src="/js/droppable.js")
  script(src="/js/resizable.js")
  script(src="/js/socketListeners/index.js")
  script(src="/js/screenDrag.js")
  script(src='/js/lib/clusterfck.js')
  script(src='/js/cluster.js')

block content
  - var users = ["https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c1.95.477.477/p480x480/1920336_10152275444250993_2135489901_n.jpg?oh=bbaa145748095d6331cba2e63d34351e&oe=544B7BC0&__gda__=1412714693_09ab5f6cad5ec3a6e1b1a5cfbdf15e02","https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.0.480.480/p480x480/10176080_2520381682312_4890391499590307710_n.jpg?oh=9b62cd1a1e536d8baeb80f5b63b12aee&oe=544C61A6&__gda__=1414538666_07bda3f9b428206ce7dab047fcd01710"]

  section.space
    ul.users
      each user in users
        li
          img(src= user)

    section.content

      each element in space.elements
        if element.z > maxZ
          - maxZ = element.z

        if (element.x + 300 * element.scale) > maxX
          - maxX = (element.x + 300 * element.scale)

        if element.x < minX
          - minX = element.x

        if element.y > maxY
          - maxY = element.y

        if element.y < minY
          - minY = element.y

        article(id=element.id, class=element.contentType, style="top:"+element.y+"px;left:"+element.x+"px;z-index:"+element.z+";"+"-webkit-transform:scale("+element.scale+");-webkit-transform-origin: top left")

          include partials/articleBody

          .ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-grip-diagonal-se

    .delete

