.card.image
  img(src= element.content)
  .background
  if element.caption == '' || element.caption == null
    .ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-grip-diagonal-se
if element.caption !== '' && element.caption !== null
  .card.text.caption
    p!=element.caption
    .background
    .ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-grip-diagonal-se