$colCount:          8;
$colWidthFull:      64em/$colCount;
$gutterCount:       $colCount + 1;
$gutter:            $colWidthFull/8;
$col:               $colWidthFull - $gutter;

$baseline:          1.5rem;