$fontRegular:   "Futura";
$fontBold:      "FuturaStd-Bold";
$fontItalic:    "Futura-MediumItalic";
$fontBoldItalic:"FuturaStd-BoldItalic";

@mixin typeBody {
    font-family: $fontRegular, serif;
    font-size: 12pt;
    line-height: 1.5em;
}

@mixin smallCaps {
    font-size: .75em;
    font-weight: bold;
    letter-spacing: .125em;
    text-transform: uppercase !important;
}

@mixin typeHeader {
    @include smallCaps;
    font-family: $fontRegular;
    font-size: .75rem;
}

html {
    @include typeBody;
}

