$fontRegular:   "BemboStd";
$fontBold:      "BemboStd-Bold";
$fontItalic:    "BemboStd-Italic";
$fontBoldItalic:"BemboStd-BoldItalic";

html {
    font-family: $fontRegular, serif;
    font-size: 12pt;
    line-height: 1.5em;
    
    h1 {
        font-size: 2rem;
    }
    
    figure {
        
        h1 {
            font-family: $fontItalic;
        }
        
    }
}
