$fontRegular:   "Futura";
$fontBold:      "FuturaStd-Bold";
$fontItalic:    "Futura-MediumItalic";
$fontBoldItalic:"FuturaStd-BoldItalic";

@mixin typeBody {
    font-family: $fontRegular, serif;
    font-size: 12pt;
    line-height: 1.5em;
}

html {
    @include typeBody;
    
    h1 {
        font-size: 2rem;
    }
    
    figure {
        
        h1 {
            font-family: $fontItalic;
        }
        
    }
}

@mixin smallCaps {
    font-size: .75em;
    font-weight: bold;
    letter-spacing: .25em;
    text-transform: uppercase !important;
}
