/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/globals/_boilerplate.scss */
html {
  text-rendering: optimizeLegibility;
}

/* line 6, ../sass/globals/_type.scss */
html {
  font-family: "Futura", serif;
  font-size: 12pt;
  line-height: 1.5em;
}
/* line 11, ../sass/globals/_type.scss */
html h1 {
  font-size: 2rem;
}
/* line 17, ../sass/globals/_type.scss */
html figure h1 {
  font-family: "Futura-MediumItalic";
}

/* line 1, ../sass/layout/_body.scss */
body {
  height: 100%;
  background-color: #f3f3f3;
}

/* line 1, ../sass/layout/_header.scss */
header {
  position: float;
  top: 0;
  height: 25vh;
}

/* line 1, ../sass/layout/_container.scss */
section.container {
  width: 100%;
  height: 100%;
}
/* line 5, ../sass/layout/_container.scss */
section.container section.space {
  width: 100%;
  height: 100%;
}
/* line 9, ../sass/layout/_container.scss */
section.container section.space:active {
  cursor: move;
}
/* line 13, ../sass/layout/_container.scss */
section.container section.space header {
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 18, ../sass/layout/_container.scss */
section.container section.space header ul.users {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 23, ../sass/layout/_container.scss */
section.container section.space header ul.users li {
  display: block;
  height: 3rem;
  width: 3rem;
  margin: .5em;
}
/* line 29, ../sass/layout/_container.scss */
section.container section.space header ul.users li img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: red;
}
/* line 42, ../sass/layout/_container.scss */
section.container section.space section.content {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
  position: fixed;
}
/* line 48, ../sass/layout/_container.scss */
section.container section.space section.content article {
  width: 16rem;
  overflow: hidden;
  color: #333333;
  position: absolute;
  -webkit-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow;
}
/* line 63, ../sass/layout/_container.scss */
section.container section.space section.content article:hover .background {
  background-color: white;
}
/* line 69, ../sass/layout/_container.scss */
section.container section.space section.content article .background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.925);
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
/* line 80, ../sass/layout/_container.scss */
section.container section.space section.content article:active {
  cursor: move;
  -webkit-transform: scale(1.0625) rotate(-2deg);
  -webkit-box-shadow: 0 0 4rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0 4rem rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.125);
}
/* line 85, ../sass/layout/_container.scss */
section.container section.space section.content article:active .background {
  background-color: white;
}
/* line 91, ../sass/layout/_container.scss */
section.container section.space section.content article.add {
  z-index: 20;
}
/* line 94, ../sass/layout/_container.scss */
section.container section.space section.content article.add input.add {
  width: 100%;
  padding: .25em;
  margin: 0;
  font-family: "Futura-MediumItalic";
  font-size: 1em;
  background: white;
  border: 0;
  outline-style: none;
}
/* line 107, ../sass/layout/_container.scss */
section.container section.space section.content article figure {
  width: 100%;
}
/* line 110, ../sass/layout/_container.scss */
section.container section.space section.content article figure img {
  width: 100%;
}
/* line 114, ../sass/layout/_container.scss */
section.container section.space section.content article figure figcaption {
  background: #444444;
  padding-top: 1.5rem;
  position: relative;
  top: -1.5rem;
}
/* line 125, ../sass/layout/_container.scss */
section.container section.space section.content article p + p {
  text-indent: 2em;
}
/* line 138, ../sass/layout/_container.scss */
section.container section.space section.content article.text {
  padding: 0.33333rem 1rem 0.33333rem 0.5rem;
}
