@charset "UTF-8";
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/globals/_boilerplate.scss */
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 12, ../sass/globals/_type.scss */
html {
  font-family: "Futura", serif;
  font-size: 12pt;
  line-height: 1.5em;
}
/* line 15, ../sass/globals/_type.scss */
html h1 {
  font-size: 2rem;
}
/* line 21, ../sass/globals/_type.scss */
html figure h1 {
  font-family: "Futura-MediumItalic";
}

/* line 1, ../sass/layout/_body.scss */
body {
  height: 100%;
  background-color: #f3f3f3;
}

/* line 1, ../sass/layout/_header.scss */
header {
  position: float;
  top: 0;
  height: 25vh;
}

/* line 1, ../sass/layout/_container.scss */
section.container {
  width: 100%;
  height: 100%;
}
/* line 5, ../sass/layout/_container.scss */
section.container section.space {
  width: 100%;
  height: 100%;
}
/* line 9, ../sass/layout/_container.scss */
section.container section.space:active {
  cursor: move;
}
/* line 13, ../sass/layout/_container.scss */
section.container section.space ul.users {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}
/* line 19, ../sass/layout/_container.scss */
section.container section.space ul.users li {
  display: block;
  height: 3rem;
  width: 3rem;
  margin: .5em;
}
/* line 25, ../sass/layout/_container.scss */
section.container section.space ul.users li img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: red;
}
/* line 35, ../sass/layout/_container.scss */
section.container section.space section.content {
  transform-origin: 0 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  position: relative;
  z-index: 1;
}
/* line 41, ../sass/layout/_container.scss */
section.container section.space section.content article {
  width: 16rem;
  color: #333333;
  position: absolute;
  backface-visibility: hidden;
  background-color: transparent !important;
}
/* line 48, ../sass/layout/_container.scss */
section.container section.space section.content article textarea {
  outline: 0;
  padding: 0;
  margin: 0;
  height: 9rem;
  width: 100%;
  border: 0;
  background: transparent;
  font-family: "Futura", serif;
  font-size: 12pt;
  line-height: 1.5em;
}
/* line 59, ../sass/layout/_container.scss */
section.container section.space section.content article .card {
  background-color: rgba(255, 255, 255, 0.925);
  position: relative;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.0625);
  -moz-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.0625);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.0625);
  -webkit-transition: 0.125s cubic-bezier(0.19, 1.75, 0.22, 1.75);
  -moz-transition: 0.125s cubic-bezier(0.19, 1.75, 0.22, 1.75);
  -o-transition: 0.125s cubic-bezier(0.19, 1.75, 0.22, 1.75);
  transition: 0.125s cubic-bezier(0.19, 1.75, 0.22, 1.75);
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
}
/* line 72, ../sass/layout/_container.scss */
section.container section.space section.content article .card.text {
  padding: 0.33333rem 1rem 0.33333rem 0.5rem;
}
/* line 76, ../sass/layout/_container.scss */
section.container section.space section.content article .card.caption {
  left: 1rem;
  top: -1.5rem;
}
/* line 81, ../sass/layout/_container.scss */
section.container section.space section.content article .card img {
  width: 100%;
}
/* line 87, ../sass/layout/_container.scss */
section.container section.space section.content article .card p + p {
  text-indent: 2em;
}
/* line 95, ../sass/layout/_container.scss */
section.container section.space section.content article:hover, section.container section.space section.content article.rollover {
  z-index: 999999999;
  cursor: move;
}
/* line 99, ../sass/layout/_container.scss */
section.container section.space section.content article:hover .card, section.container section.space section.content article.rollover .card {
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.125);
  -webkit-transform: scale(1.0625);
  -moz-transform: scale(1.0625);
  -ms-transform: scale(1.0625);
  -o-transform: scale(1.0625);
  transform: scale(1.0625);
}
/* line 107, ../sass/layout/_container.scss */
section.container section.space section.content article:active, section.container section.space section.content article.dragging {
  cursor: move;
}
/* line 110, ../sass/layout/_container.scss */
section.container section.space section.content article:active .card, section.container section.space section.content article.dragging .card {
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-transform: scale(1.0625) rotate(-3deg);
  -moz-transform: scale(1.0625) rotate(-3deg);
  -ms-transform: scale(1.0625) rotate(-3deg);
  -o-transform: scale(1.0625) rotate(-3deg);
  transform: scale(1.0625) rotate(-3deg);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.125);
}
/* line 120, ../sass/layout/_container.scss */
section.container section.space .delete {
  text-align: center;
  position: fixed;
  z-index: 5;
  width: 8rem;
  padding: 2rem;
  bottom: -8rem;
  left: 50%;
  margin-left: -4rem;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 132, ../sass/layout/_container.scss */
section.container section.space .delete.visible {
  bottom: 0;
  opacity: 1;
}
/* line 137, ../sass/layout/_container.scss */
section.container section.space .delete.rollover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  opacity: 1;
  bottom: 0;
}
/* line 143, ../sass/layout/_container.scss */
section.container section.space .delete:after {
  text-align: center;
  content: "×";
  font-size: 6em;
  position: relative;
  top: 33.333%;
  height: 100%;
  margin-top: -75%;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: 2em;
  font-weight: 100;
  color: red;
}
