/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/globals/_boilerplate.scss */
html {
  text-rendering: optimizeLegibility;
}

/* line 6, ../sass/globals/_type.scss */
html {
  font-family: "Futura", serif;
  font-size: 12pt;
  line-height: 1.5em;
}
/* line 11, ../sass/globals/_type.scss */
html h1 {
  font-size: 2rem;
}
/* line 17, ../sass/globals/_type.scss */
html figure h1 {
  font-family: "Futura-MediumItalic";
}

/* line 1, ../sass/layout/_body.scss */
body {
  background-color: #ed3f00;
}

/* line 1, ../sass/layout/_header.scss */
header {
  position: float;
  top: 0;
  height: 25vh;
}

/* line 3, ../sass/layout/_container.scss */
section.container section.space {
  width: 100%;
}
/* line 6, ../sass/layout/_container.scss */
section.container section.space header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 25vh;
}
/* line 12, ../sass/layout/_container.scss */
section.container section.space header ul.users {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 17, ../sass/layout/_container.scss */
section.container section.space header ul.users li {
  display: block;
  height: 3rem;
  width: 3rem;
  margin: .5em;
}
/* line 23, ../sass/layout/_container.scss */
section.container section.space header ul.users li img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: red;
}
/* line 36, ../sass/layout/_container.scss */
section.container section.space section.content {
  width: 200vw;
  height: 100%;
  margin-left: 16rem;
}
/* line 41, ../sass/layout/_container.scss */
section.container section.space section.content article {
  width: 16rem;
  overflow: hidden;
  color: #333333;
  position: relative;
}
/* line 48, ../sass/layout/_container.scss */
section.container section.space section.content article.add {
  z-index: 20;
}
/* line 51, ../sass/layout/_container.scss */
section.container section.space section.content article.add input.add {
  width: 100%;
  padding: .25em;
  margin: 0;
  font-family: "Futura-MediumItalic";
  font-size: 1em;
  background: white;
  border: 0;
  outline-style: none;
}
/* line 64, ../sass/layout/_container.scss */
section.container section.space section.content article figure {
  width: 100%;
}
/* line 67, ../sass/layout/_container.scss */
section.container section.space section.content article figure img {
  width: 100%;
}
/* line 71, ../sass/layout/_container.scss */
section.container section.space section.content article figure figcaption {
  background: #444444;
  padding-top: 1.5rem;
  position: relative;
  top: -1.5rem;
}
/* line 82, ../sass/layout/_container.scss */
section.container section.space section.content article p + p {
  text-indent: 2em;
}
/* line 95, ../sass/layout/_container.scss */
section.container section.space section.content article.text {
  margin-bottom: .25rem;
  position: relative;
  -webkit-transition: 0.125s ease-out;
  -moz-transition: 0.125s ease-out;
  -o-transition: 0.125s ease-out;
  transition: 0.125s ease-out;
  -webkit-transition-property: background-color, margin-bottom;
  -moz-transition-property: background-color, margin-bottom;
  -o-transition-property: background-color, margin-bottom;
  transition-property: background-color, margin-bottom;
}
/* line 105, ../sass/layout/_container.scss */
section.container section.space section.content article.text .background {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -10;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  padding-left: 1em;
}
/* line 120, ../sass/layout/_container.scss */
section.container section.space section.content article.text:hover {
  background-color: white;
}
