section.container {
  width: 100%;
  height: 100%;
  
  section.space {
    width: 100%;
    height: 100%;

    h1 {
      position: fixed;
      text-align: right;
      @include resetInput;
      bottom: $gutter;
      right: $gutter;
      width: $col * 2;
      height: 1.5em;
      z-index: 2;
      @include typeSpaceName;
      
      form {
        
        input {
          @include resetInput;
          @include typeSpaceName;
          text-align: right;
          position: absolute;
          left: 0;
          width: $col * 2;
          height: 1.5em;

        }
      }
    }
    
    &:active {
      cursor: move;
    }

    ul.users {
      position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
    
      li {
        display: block;
        height: 3rem;
        width:  3rem;
        margin: .5em;
      
        img {
          height: 100%;
          width:  100%;   
          border-radius: 100%;
          background-color: red;
        }
        
      }
    }

    section.content {
      transform-origin: 0 0;
      @include transform(scale(1));
      position: relative;
      z-index: 1;
                  
      article {
        width: $col*2;
        color: $colorTypeDark;
        position: absolute;
        backface-visibility: hidden;
        background-color: transparent !important;
        
        textarea {
          @include resetInput;
          @include typeBody;   
          width: 100%;
          height: $baseline * 6;
                   
        }
        
        .card {
          background-color: $colorWashLightTrans;
          position: relative;
          @include box-shadow(0 $gutter/4 $gutter rgba(0,0,0,.0625));
          @include transition(.125s $bouncyCurve);
          @include transition-property(transform,
                               -webkit-transform,
                                  -moz-transform,
                                       box-shadow,
                               -webkit-box-shadow,
                                  -moz-box-shadow,
                                       background-color);

          &.text {
            padding: $cardPadding;
          }
          
          &.caption {
            left: $gutter;
            top: -$baseline;
          }

          img {
            width: 100%;
          }
          
          p {
          
            & + p {
              margin-top: $baseline / 2;
            }
          }
        }
        
        &:hover, &.rollover {
          cursor: move;
          
          .card {
            background-color: $colorWashLightTransHalf;
            @include box-shadow(0 $gutter/2 $gutter*2 rgba(0,0,0,.125));
            @include transform(scale(1.0625));
          }
        
        }

        &:active, &.dragging {
          cursor: move;
          
          .card {
            background-color: $colorWashLightTransHalf;
            @include transform(scale(1.0625) rotate(-3deg));
            @include transition-timing-function($defaultCurve);
            @include box-shadow(0 $gutter/2 $gutter*2 rgba(0,0,0,.125));
          }       
        }
      }
    }
    
    .delete {
      text-align: center;
      position: fixed;
      z-index: 5;
      width: $col;
      padding: $gutter * 2;
      bottom: -$col;
      left: 50%;
      margin-left: -$col/2;
      @include transition(all .25s $defaultCurve);
      @include transform(scale(.5));
      
      &.visible {
        bottom: 0;
        opacity: 1;
      }
      
      &.rollover {
        @include transform(scale(1.25));
        opacity: 1;
        bottom: 0;
      }

      &:after {
        text-align: center;
        content: "×";
        font-size: 6em;
        position: relative;
        top: 33.333%;
        height: 100%;
        margin-top: -75%;
        color: white;
        font-family: "Helvetica Neue", "Helvetica", sans-serif;
        margin-top: 2em;
        font-weight: 100;
        color: $colorAlert;
      }
    }
  }
}