.card.login {
    position: relative;
    margin-top: 50%;
    left: 33%;
    padding-left: $gutter * 2 !important;
    padding-bottom: $gutter !important;
    @include cardStyle;
    width: $col* 2;
    
    input#toggle-login {
        &:checked {
            &+ form {
                background: red;
            }
        }
    }

    form {        
        input {
            text-transform: lowercase;
        }
    }
}